.flex {
    display: flex;
}

.flex-justify-between {
    justify-content: space-between;
}

.flex-justify-start {
    justify-content: start;
}

.flex-justify-end {
    justify-content: end;
}

.flex-justify-center {
    justify-content: center;
}

.flex-align-center {
    align-items: center;
}