@use 'variables';

// component
.hero {
    .hero-wrapper {
        overflow: hidden;
        position: relative;
        height: 100vh;
    }
    .hero-bg {
        position: absolute;
        opacity: 0.6;
        left: 0;
        top: 0;
        width: 100%;
    }
    .hero-content {
        color: white;
        position: relative;
        padding: 20vh;
    }
    .hero-copy {
        padding: 40px;
    }
}

// component
.clock {
    .clock-padding {
        background-color: variables.$teal;
        color: variables.$light-green;
        padding: 30px 40px;
        border-radius: 15px;
        font-size: 96px;
        width: 585px;
        border: 4px variables.$aquamarine outset;
    }
}

// component
.content {
    padding: 50px;
    .iframe-br {
        border-radius: 15px;
    }
    .goodluck {
        color: white;
        background-color: variables.$light-green;
        border-radius: 15px;
        padding: 15px;
        font-size: 36px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 15px;
    }
}

// component
.message {
    background-color: variables.$aquamarine;
    border-radius: 15px;
    padding: 15px;
}

//component
.board {
    height: 800px;
    background: url('../images/vine-background.jpg');
}

// component
.footer {
    background-color: variables.$aquamarine;
    color: variables.$navy;
    padding: 50px;
    .link {
        cursor: pointer;
        color: variables.$brown;
        &:hover {
            color: variables.$navy;
        }
    }
}